<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springdemo.dao.shparm.LocationMapper">

    <resultMap id="countryItem" type="com.example.springdemo.pojo.shparm.CountryItem">
        <id column="countryid" property="countryId" />
        <result column="countryname" property="countryName" />
        <result column="countrynumber" property="countryNumber" />
        <result column="cityname" property="cityName" />
        <result column="citynumber" property="cityNumber" />
        <result column="create_time" property="createTime" />
    </resultMap>


    <select id="selectCountryList" resultMap="countryItem">
        select countryid,
               countryname,
               countrynumber,
               cityname,
               citynumber,
               create_time
        from abs_shparm.shparm_country
        <if test="countryName!=null">
            where  countryname like concat('%',#{countryName,jdbcType=VARCHAR},'%')
        </if>
         order by countrynumber
    </select>

</mapper>
