<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bboss.tools.dao.generl.AnnualReportMapper">
    <resultMap id="AnnualReportMap" type="com.bboss.tools.bo.AnnualReport">
        <result column="STAFF_NUMBER" property="staffNumber"/>
        <result column="TOTALCOUNT1" property="totalcount1"/>
        <result column="TOTALCOUNT2" property="totalcount2"/>
        <result column="COMPANY_ID" property="companyId"/>
        <result column="STAFF_NAME" property="staffName"/>
        <result column="NEW_CUSTNUM" property="newCustnum"/>
        <result column="CUSTNUM" property="custnum"/>
        <result column="PRODORD_NUM" property="prodordNum"/>
        <result column="PROD_SHENPI_NUM" property="prodShenpiNum"/>
        <result column="NEW_SKU_NUM" property="newSkuNum"/>
        <result column="SKU_NUM_CNT" property="skuNumCnt"/>
        <result column="AMOUNT" property="amount"/>
        <result column="JOB_NUM" property="jobNum"/>
        <result column="SKU_OFFER_NAME" property="skuOfferName"/>
        <result column="SHENPI_OFFER_NAME" property="shenpiOfferName"/>
        <result column="TIDAN_ORD_NUM" property="tidanOrdNum"/>
    </resultMap>

    <select id="qryAnnualReportByStaffNumber" parameterType="java.lang.String" resultMap="AnnualReportMap">
        select STAFF_NUMBER,
               TOTALCOUNT1,
               TOTALCOUNT2,
               COMPANY_ID,
               STAFF_NAME,
               NEW_CUSTNUM,
               CUSTNUM,
               PRODORD_NUM,
               PROD_SHENPI_NUM,
               NEW_SKU_NUM,
               SKU_NUM_CNT,
               AMOUNT,
               JOB_NUM,
               SKU_OFFER_NAME,
               SHENPI_OFFER_NAME,
               TIDAN_ORD_NUM from ABS_GENERL.TMP_HYX_NIANBAO_6666 where STAFF_NUMBER = #{staffNumber}
    </select>

</mapper>