<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bboss.tools.dao.generl.PoordMapper">

    <insert id="insertPoordPackgeHis">
        insert into abs_generl.poord_package_his (
            select * from abs_generl.poord_package where poord_package_num = #{poordPackageNum})
    </insert>
    <insert id="insertPoordAccountHis">
        insert into abs_generl.poord_account_his (
            select * from abs_generl.poord_account where poord_package_num = #{poordPackageNum})
    </insert>
    <insert id="insertPoordContactHis">
        insert into abs_generl.poord_contact_his (
            select * from abs_generl.poord_contact where poord_package_num = #{poordPackageNum})
    </insert>
    <insert id="insertPoordAgreementHis">
        insert into abs_generl.poord_agreement_his (
            select * from abs_generl.poord_agreement where poord_package_num = #{poordPackageNum})
    </insert>
    <insert id="insertPoordCharacterHis">
        insert into abs_generl.poord_character_his (
            select * from abs_generl.poord_character where poord_package_num = #{poordPackageNum})
    </insert>
    <insert id="insertPoordAttachFileHis">
        insert into abs_generl.poord_attach_file_his (
            select * from abs_generl.poord_attach_file where poord_char_id = #{poordCharId})
    </insert>
    <insert id="insertPoordTemplateHis">
        insert into abs_generl.poord_template_his (
            select * from abs_generl.poord_template where poord_package_num = #{poordPackageNum})
    </insert>
    <insert id="insertPoordIcbHis">
        insert into abs_generl.poord_icb_his (
            select * from abs_generl.poord_icb where poord_template_id = #{poordTemplateId})
    </insert>
    <insert id="insertPoordPackgeByHis">
        insert into abs_generl.poord_package (
            select * from abs_generl.poord_package_his where poord_package_num = #{poordPackageNum})
    </insert>
    <insert id="insertPoordAccountByHis">
        insert into abs_generl.poord_account (
            select * from abs_generl.poord_account_his where poord_package_num = #{poordPackageNum})
    </insert>
    <insert id="insertPoordContactByHis">
        insert into abs_generl.poord_contact (
            select * from abs_generl.poord_contact_his where poord_package_num = #{poordPackageNum})
    </insert>
    <insert id="insertPoordAgreementByHis">
        insert into abs_generl.poord_agreement (
            select * from abs_generl.poord_agreement_his where poord_package_num = #{poordPackageNum})
    </insert>
    <insert id="insertPoordCharacterByHis">
        insert into abs_generl.poord_character (
            select * from abs_generl.poord_character_his where poord_package_num = #{poordPackageNum})
    </insert>
    <insert id="insertPoordAttachFileByHis">
        insert into abs_generl.poord_attach_file (
            select * from abs_generl.poord_attach_file_his h where poord_char_id = #{poordCharId})
    </insert>
    <insert id="insertPoordTemplateByHis">
        insert into abs_generl.poord_template (
            select * from abs_generl.poord_template_his where poord_package_num = #{poordPackageNum})
    </insert>
    <insert id="insertPoordIcbByHis">
        insert into abs_generl.poord_icb (
            select * from abs_generl.poord_icb_his where poord_template_id = #{poordTemplateId})
    </insert>


    <delete id="deletePoordPackge">
        delete from abs_generl.poord_package where poord_package_num = #{poordPackageNum}
    </delete>
    <delete id="deletePoordAccount">
        delete from abs_generl.poord_account where poord_package_num = #{poordPackageNum}
    </delete>
    <delete id="deletePoordAgreement">
        delete from abs_generl.poord_agreement where poord_package_num = #{poordPackageNum}
    </delete>
    <delete id="deletePoordCharacter">
        delete from abs_generl.poord_character where poord_package_num = #{poordPackageNum}
    </delete>
    <delete id="deletePoordAttachFile">
        delete from abs_generl.poord_attach_file where poord_char_id = #{poordCharId}
    </delete>
    <delete id="deletePoordContact">
        delete from abs_generl.poord_contact where poord_package_num = #{poordPackageNum}
    </delete>
    <delete id="deletePoordTemplate">
        delete from abs_generl.poord_template where poord_package_num = #{poordPackageNum}
    </delete>
    <delete id="deletePoordIcb">
        delete from abs_generl.poord_icb where poord_template_id = #{poordTemplateId}
    </delete>

    <select id="selectPoordTemplateList" resultType="java.lang.String">
        select poord_template_id from abs_generl.poord_template where poord_package_num = #{poordPackageNum}
    </select>
    <select id="selectPoordPackageByPoordPackageNum" resultType="java.util.Map">
        select * from abs_generl.poord_package where poord_package_num = #{poordPackageNum}
    </select>
    <select id="selectPoordCharList" resultType="java.lang.String">
        select poord_char_id from abs_generl.poord_character where poord_package_num = #{poordPackageNum}
    </select>

</mapper>
