<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bboss.tools.dao.generl.ProdordMapper">
    <insert id="insertProdordSkuHis">
        insert into abs_generl.prodord_sku_his (
            select * from abs_generl.prodord_sku where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordCharacterHis">
        insert into abs_generl.prodord_character_his (
            select * from abs_generl.prodord_character where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordAttachFileHis">
        insert into abs_generl.prodord_attach_file_his (
            select * from abs_generl.prodord_attach_file where prodord_char_id = #{prodordCharId})
    </insert>
    <insert id="insertProdordTemplateHis">
        insert into abs_generl.prodord_template_his (
            select * from abs_generl.prodord_template where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordIcbHis">
        insert into abs_generl.prodord_icb_his where prodord_template_id = #{prodordTemplateId}
    </insert>
    <insert id="insertProdordChargeHis">
        insert into abs_generl.prodord_charge_his (
            select * from abs_generl.prodord_charge where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordDiscountCharacterHis">
        insert into abs_generl.prodord_discount_character_his (
            select * from abs_generl.prodord_discount_character where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordDistinctCharacterHis">
        insert into abs_generl.prodord_distinct_character_his (
            select * from abs_generl.prodord_distinct_character where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordViplineFeeHis">
        insert into abs_generl.prodord_vipline_fee_his (
            select * from abs_generl.prodord_vipline_fee where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordMemberListHisToMonth">
        insert into ${tableName}
        select a.* from abs_generl.prodord_member_list a where a.prodord_sku_num = #{prodordSkuNum}
    </insert>
    <insert id="insertMemberListCharacterHisToMonth">
        insert into ${tableName} select b.*
        from abs_generl.prodord_member_list a, abs_generl.member_list_character b
        where a.prodord_member_list_id = b.prodord_member_list_id
          and a.prodord_sku_num = #{prodordSkuNum}
    </insert>

    <insert id="insertProdordAttachFileByHis">
        insert into abs_generl.prodord_attach_file (
            select * from abs_generl.prodord_attach_file_his where prodord_char_id = #{prodordCharId})
    </insert>
    <insert id="insertProdordCharacterByHis">
        insert into abs_generl.prodord_character (
            select * from abs_generl.prodord_character_his where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordChargeByHis">
        insert into abs_generl.prodord_charge (
            select * from abs_generl.prodord_charge_his where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordDiscountCharacterByHis">
        insert into abs_generl.prodord_discount_character (
            select * from abs_generl.prodord_discount_character_his where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordDistinctCharacterByHis">
        insert into abs_generl.prodord_distinct_character (
            select * from abs_generl.prodord_distinct_character_his where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordIcbByHis">
        insert into abs_generl.prodord_icb (
            select * from abs_generl.prodord_icb_his where prodord_template_id = #{prodordTemplateId})
    </insert>
    <insert id="insertProdordMemberListByHisToMonth">
        insert into abs_generl.prodord_member_list
        select a.* from ${tableName} a where a.prodord_sku_num = #{prodordSkuNum}
    </insert>
    <insert id="insertMemberListCharacterByHisToMonth">
        insert into abs_generl.member_list_character
        select b.* from ${tableName} b
        where b.prodord_member_list_id in
        <foreach collection="memberListCharIds" item="item" index="index" open="(" close=")">
            <if test="index != 0">
                <choose>
                    <when test="index % 1000 == 999">) OR b.prodord_member_list_id IN (</when>
                    <otherwise>,</otherwise>
                </choose>
            </if>
            #{item}
        </foreach>
    </insert>
    <insert id="insertProdordSkuByHis">
        insert into abs_generl.prodord_sku (
            select * from abs_generl.prodord_sku_his where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordTemplateByHis">
        insert into abs_generl.prodord_template (
            select * from abs_generl.prodord_template_his where prodord_sku_num = #{prodordSkuNum})
    </insert>
    <insert id="insertProdordViplineFeeByHis">
        insert into abs_generl.prodord_vipline_fee (
            select * from abs_generl.prodord_vipline_fee_his where prodord_sku_num = #{prodordSkuNum})
    </insert>


    <delete id="deleteProdordSku">
        delete from abs_generl.prodord_sku where prodord_sku_num = #{prodordSkuNum}
    </delete>
    <delete id="deleteProdordCharacter">
        delete from abs_generl.prodord_character where prodord_sku_num = #{prodordSkuNum}
    </delete>
    <delete id="deleteProdordAttachFile">
        delete from abs_generl.prodord_attach_file where prodord_char_id = #{prodordCharId}
    </delete>
    <delete id="deleteProdordTemplate">
        delete from abs_generl.prodord_template where prodord_sku_num = #{prodordSkuNum}
    </delete>
    <delete id="deleteProdordIcb">
        delete from abs_generl.prodord_icb where prodord_template_id = #{prodordTemplateId}
    </delete>
    <delete id="deleteProdordCharge">
        delete from abs_generl.prodord_charge where prodord_sku_num = #{prodordSkuNum}
    </delete>
    <delete id="deleteProdordDiscountCharacter">
        delete from abs_generl.prodord_discount_character where prodord_sku_num = #{prodordSkuNum}
    </delete>
    <delete id="deleteProdordDistinctCharacter">
        delete from abs_generl.prodord_distinct_character where prodord_sku_num = #{prodordSkuNum}
    </delete>
    <delete id="deleteProdordViplineFee">
        delete from abs_generl.prodord_vipline_fee where prodord_sku_num = #{prodordSkuNum}
    </delete>
    <delete id="deleteProdordMemberList">
        delete from abs_generl.prodord_member_list where prodord_sku_num = #{prodordSkuNum}
    </delete>
    <delete id="deleteMemberListCharacter">
        delete from ABS_GENERL.MEMBER_LIST_CHARACTER t
        where t.prodord_member_list_id in
        <!--<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
          #{item.memberCharId}
        </foreach>-->
        <!-- 处理in的集合超过1000条时Oracle不支持的情况 -->
        <foreach collection="list" item="item" index="index" open="(" close=")">
            <if test="index != 0">
                <choose>
                    <when test="index % 1000 == 999">) OR t.prodord_member_list_id IN (</when>
                    <otherwise>,</otherwise>
                </choose>
            </if>
            #{item}
        </foreach>
    </delete>


    <select id="selectCountByPoordPackageNum" resultType="java.lang.Integer">
        select count(1) from abs_generl.prodord_sku where poord_package_num = #{poordPackageNum}
    </select>
    <select id="selectMemberListIdByProdordSkuNum" resultType="java.lang.String">
        select prodord_member_list_id from abs_generl.prodord_member_list where prodord_sku_num = #{prodordSkuNum}
    </select>
    <select id="selectProdordTemplateIdByProdordSkuNum" resultType="java.lang.String">
        select prodord_template_id from abs_generl.prodord_template where prodord_sku_num = #{prodordSkuNum}
    </select>
    <select id="selectProdordSkuByProdordSkuNum" resultType="java.util.Map">
        select * from abs_generl.prodord_sku where prodord_sku_num = #{prodordSkuNum}
    </select>
    <select id="selectHisProdordSkuByProdordSkuNum" resultType="java.util.Map">
        select * from abs_generl.prodord_sku_his where prodord_sku_num = #{prodordSkuNum}
    </select>
    <select id="selectProdordSkuNumsByByPoordPackageNum" resultType="java.lang.String">
        select prodord_sku_num from abs_generl.prodord_sku where poord_package_num = #{poordPackageNum}
    </select>
    <select id="selectHisProdordSkuNumsByByPoordPackageNum" resultType="java.lang.String">
        select distinct prodord_sku_num from abs_generl.prodord_sku_his where poord_package_num = #{poordPackageNum}
    </select>
    <select id="selectProdordCharIdListByProdordSkuNum" resultType="java.lang.String">
        select prodord_char_id from abs_generl.prodord_character where prodord_sku_num = #{prodordSkuNum}
    </select>

</mapper>
